.page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Adjusted', 'Segoe UI', 'Liberation Sans', sans-serif;
  .buttons {
    width: 200px;
    align-items: center;
    padding: 10px 20px 20px 20px;
    gap: 20px;
    button {
      margin-top: 10px;
      padding: 5px 10px;
      width: 200px;
    }
  }

  details {
    margin: 10px 20px 30px 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    summary {
      padding: 5px 0;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;
    }
  }
}
