:root {
  --bg-color: #fff;
  --text-color: #666;
  --border-color: #ddd;
  --btn-text-color: #777;
  --btn-bg-color: #efefef;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --version-color: rgba(255, 0, 0, 0.508);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #525151;
    --text-color: #8b919d;
    --border-color: #666;
    --btn-text-color: #c1c1c1;
    --btn-bg-color: #6b6b6b;
    --shadow-color: rgba(67, 65, 199, 0.25);
    --version-color: rgb(255 71 71);
  }
  img {
    filter: contrast(0.75);
  }
}

html,
body {
  background: var(--bg-color);
}

.page {
  font-family: system-ui;
  color: var(--text-color);
  padding: 20px 20px;
  .buttons {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border: 0.5px solid var(--border-color);
      border-radius: 4px;
      background-color: var(--btn-bg-color);
      gap: 5px;
      color: var(--btn-text-color);
      cursor: pointer;
      transition: all 0.2s;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      &:hover {
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      }
    }
  }

  .preference {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s;
    font-size: 1.8em;
    &:hover {
      text-shadow: 1px 1px 2px var(--shadow-color);
      transform: scale(1.2);
    }
  }

  .stat {
    display: flex;
    width: 200px;
    margin: 20px auto 0px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pie {
      margin-top: 20px;
      width: 100px;
      height: 100px;
      background: var(--btn-bg-color);
      border-radius: 50%;
      border: 0.15em solid var(--bg-color);
      box-shadow: 0 0.075em 0.2em 0.05em var(--shadow-color);
      background-origin: border-box;
      transform: rotate(-90deg);
      circle {
        fill: none;
        stroke-width: 32;
        transition: stroke-dasharray 0.5s ease-in;
        &:last-child {
          animation-delay: 0.5s;
        }
      }
    }
  }
}

.newRelease {
  margin-top: 30px;
  text-align: center;
  a {
    color: var(--text-color);
    text-decoration: none;
    span {
      margin-left: 5px;
      text-decoration: underline;
      color: var(--version-color);
    }
  }
}
