.container {
  margin: 20px 0;

  h4 {
    margin: 0;
  }

  .colorSetting {
    width: 200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #999;

    .colorInputs > div {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        width: 40px;
      }
    }
  }
}
