.__dict_container {
  line-height: 1.6em;
  color: #000;
  --font-bold: 600;
  --color-main: #759fc9;
  --border-color: rgba(0, 0, 0, 0.3);
  white-space: pre-line;
  > b {
    color: var(--color-main);
  }
}
