.__dict_container {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
  line-height: 1.6em;
  color: var(--text-color);
  --font-bold: 600;
  white-space: pre-line;
  > b {
    color: var(--color-main);
  }
}
