.__dict_container {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 0 15px;
}

a[data-href] {
  color: #3c4043;
  text-decoration: none;
  cursor: pointer;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.6);
  &:hover {
    opacity: 0.8;
  }
}

.c07z9 {
  color: var(--text-color);
}

.g1baVc {
  background-color: var(--color-main);
}

.c07z9 a,
.c07z9 a:active,
.c07z9 a:link {
  color: var(--link-color);
}

g-img img {
  max-width: 450px;
}

div[role='button'] > a {
  border-bottom: none;
}

[jsslot]:first-child {
  margin-top: 10px;
}

.xpdxpnd,
.xpdopen .xpdclps,
.xpdopen .xpdxpnd.xpdnoxpnd {
  max-height: none;
}

.gi0Tyb {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.MR2UAc {
  margin-right: 4px;
  > a {
    display: inline-block;
    padding: 0 12px;
    border-bottom: none;
    height: 22px;
    line-height: 22px;
  }
}

.Inx6Z span {
  pointer-events: none;
}

.KAwqid .Inx6Z.gjoUyf {
  display: none;
}

.KAwqid [role='listitem'] + .Inx6Z.ehbKkb {
  display: block;
}

.g1baVc {
  pointer-events: none;
}

[jsname='F457ec'] a {
  text-decoration: none;
  color: #3c4043;
}

[data-dobid='dfn'] {
  color: var(--text-color);
}

.active {
  .KnZOyc {
    opacity: 1;
  }
}

.active .nIW5Sd {
  animation: inners 1s steps(3) infinite;
}

.active .byDyWd {
  animation: outs 1s steps(3) infinite;
}

@keyframes inners {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes outs {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
