.word_card {
  --bg-color: #fff;
  --border-color: rgba(0, 0, 0, 0.3);
  --color-main: #759fc9;
  --bg-toolbar: #759fc9;
  --text-color: #666;
  --text-on-main: #fff;
  --gray-text-color: #999;
  --selection-color: #cfe8fd;
  --scrollbar-track-color: #f5f5f5;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --loading-svg-color: #cfe8fd;
  --link-color: #999;
  --tab-bar-bg-color: #ececeb;
}

@media (prefers-color-scheme: dark) {
  .word_card {
    --bg-color: #2d333d;
    --border-color: rgba(255, 255, 255, 0.2);
    --color-main: #89b2e1;
    --bg-toolbar: #405f82;
    --text-color: #e3e3e3;
    --text-on-main: #eaeff2;
    --gray-text-color: #97a4b8;
    --selection-color: #25689f;
    --scrollbar-track-color: #282828;
    --scrollbar-thumb-color: #757575;
    --loading-svg-color: #5f6671;
    --link-color: #a7b5ca;
    --tab-bar-bg-color: #22252a;
    img {
      filter: brightness(0.8);
    }
  }
}

.word_card {
  --height: 600px;
  --max-height: calc(100dvh - 120px);
  all: initial;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000000000;

  width: 490px;
  max-width: 90%;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--bg-color);
  font-size: 12px;
  font-family: system-ui;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  box-shadow: rgb(0 0 0 / 80%) 0 4px 23px -6px;
  user-select: text;
  opacity: 0;
  transition:
    transform 0.1s,
    opacity 0.3s;
  pointer-events: none;
  @media (prefers-reduced-motion) {
    & {
      transition: none;
    }
  }

  &.card_visible {
    pointer-events: auto;
    opacity: 1;
  }

  .dict_container {
    position: relative;
    padding: 10px 15px;
    height: var(--height);
    max-height: var(--max-height);
    overflow-y: auto;
    overflow-x: clip;
    overscroll-behavior: contain;
    font-size: 14px;
    ::selection {
      background-color: var(--selection-color);
    }

    &:empty {
      padding: 0;
      border: none;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: var(--scrollbar-track-color);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 2px;
    }

    [data-href] {
      cursor: pointer;
      > * {
        pointer-events: none;
      }
    }
  }

  #word_dict {
    .loading {
      height: var(--height);
      max-height: var(--max-height);
      display: grid;
      place-content: center;
      path {
        stroke: var(--color-main);
        fill: var(--loading-svg-color);
      }
    }
  }

  .no_result,
  .no-contexts {
    height: var(--height);
    max-height: var(--max-height);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--gray-text-color);
    font-size: 14px;
    > img {
      width: 64px;
      height: 64px;
      opacity: 0.8;
    }
  }

  .contexts {
    line-height: 1.6em;
    color: var(--text-color);
    --font-bold: 600;
    > div {
      position: relative;
      padding: 15px;
      margin-bottom: 20px;

      /* background-color: rgba(255, 255, 255, 0.2); */
      border: 1px solid var(--border-color);
      border-radius: 6px;

      pre {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.6em;
        font-family: 'system-ui';
        font-weight: 400;
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
      }

      b {
        color: var(--color-main);
      }

      p {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 10px 0 10px;
        gap: 5px;
        img {
          width: 14px;
          height: 14px;
        }
        a {
          font-size: 12px;
          font-style: italic;
          line-height: 14px;
          text-decoration: none;
          color: var(--link-color);
          border-bottom: dashed 1px var(--link-color);
          &:hover {
            opacity: 0.8;
          }
        }
      }

      button {
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 5px;
        border: none;
        background: none;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          transform: scale(1.2);
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6px 15px;
    align-items: center;
    border-bottom: 0.5px solid var(--border-color);
    box-shadow:
      0 1px 2px hsla(0, 10%, 94%, 0.05),
      0 1px 4px hsla(0, 20%, 94%, 0.05),
      0 2px 8px hsla(0, 0%, 0%, 0.05);
    border-radius: 8px 8px 0 0;
    background-color: var(--bg-toolbar);
    button {
      border: none;
      background: none;
      cursor: pointer;
      &:disabled {
        img {
          opacity: 0.3;
          &:hover {
            opacity: 0.3;
            transform: unset;
            cursor: not-allowed;
          }
        }
      }
      img {
        width: 25px;
        transition: all 0.2s;
        opacity: 0.9;
        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }
      }
    }
    div:nth-child(2) {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      a {
        text-decoration: none;
        color: var(--text-on-main);
        font-family: 'Zilla Slab', system-ui;
        font-weight: 600;
      }
    }

    div:nth-child(3) {
      display: flex;
      justify-content: flex-end;
      a {
        cursor: pointer;
        img {
          width: 25px;
          height: 25px;
          transition: all 0.2s;
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .tabs {
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
    margin-bottom: -10px;
    background-color: var(--bg-color);
    > div {
      padding: 5px 0px 0 0px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      gap: 1px;
      background-color: var(--tab-bar-bg-color);
    }
    button {
      padding: 5px 0;
      appearance: none;
      border: none;
      cursor: pointer;
      color: var(--gray-text-color);
      background-color: transparent;
      clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
      &.selected {
        background-color: var(--bg-color);
        color: var(--color-main);
        font-weight: bold;
      }
      &.hidden {
        display: none;
      }
    }
  }

  a.audio_play_button,
  span.audio_play_button {
    border-bottom: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    cursor: pointer;
    background: no-repeat left/cover
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 350 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 50, 0)'%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 32.117 35.055 C 31.833 35.055 31.549 34.946 31.333 34.729 C 30.896 34.295 30.896 33.591 31.333 33.158 C 36.105 28.382 36.105 20.612 31.333 15.837 C 30.896 15.403 30.896 14.702 31.333 14.265 C 31.766 13.832 32.468 13.832 32.903 14.265 C 38.546 19.906 38.546 29.086 32.903 34.728 C 32.689 34.945 32.403 35.055 32.117 35.055 Z' style=''/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 100, 0)'%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 32.117 35.055 C 31.833 35.055 31.549 34.946 31.333 34.729 C 30.896 34.295 30.896 33.591 31.333 33.158 C 36.105 28.382 36.105 20.612 31.333 15.837 C 30.896 15.403 30.896 14.702 31.333 14.265 C 31.766 13.832 32.468 13.832 32.903 14.265 C 38.546 19.906 38.546 29.086 32.903 34.728 C 32.689 34.945 32.403 35.055 32.117 35.055 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 36.052 39.547 C 35.766 39.547 35.484 39.439 35.264 39.221 C 34.832 38.786 34.832 38.085 35.264 37.651 C 42.199 30.718 42.199 19.437 35.264 12.504 C 34.832 12.07 34.832 11.368 35.264 10.933 C 35.703 10.499 36.403 10.499 36.837 10.933 C 44.636 18.734 44.636 31.423 36.837 39.221 C 36.619 39.439 36.336 39.547 36.052 39.547 Z' style=''/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 150, 0)'%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 32.117 35.055 C 31.833 35.055 31.549 34.946 31.333 34.729 C 30.896 34.295 30.896 33.591 31.333 33.158 C 36.105 28.382 36.105 20.612 31.333 15.837 C 30.896 15.403 30.896 14.702 31.333 14.265 C 31.766 13.832 32.468 13.832 32.903 14.265 C 38.546 19.906 38.546 29.086 32.903 34.728 C 32.689 34.945 32.403 35.055 32.117 35.055 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 36.052 39.547 C 35.766 39.547 35.484 39.439 35.264 39.221 C 34.832 38.786 34.832 38.085 35.264 37.651 C 42.199 30.718 42.199 19.437 35.264 12.504 C 34.832 12.07 34.832 11.368 35.264 10.933 C 35.703 10.499 36.403 10.499 36.837 10.933 C 44.636 18.734 44.636 31.423 36.837 39.221 C 36.619 39.439 36.336 39.547 36.052 39.547 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 39.314 45.057 C 39.028 45.057 38.744 44.948 38.528 44.73 C 38.093 44.297 38.093 43.595 38.528 43.16 C 43.369 38.321 46.035 31.89 46.035 25.056 C 46.035 18.22 43.37 11.788 38.528 6.948 C 38.093 6.514 38.093 5.812 38.528 5.378 C 38.963 4.944 39.664 4.944 40.1 5.378 C 45.361 10.637 48.26 17.625 48.26 25.056 C 48.26 32.484 45.361 39.473 40.1 44.731 C 39.883 44.949 39.599 45.058 39.315 45.058 Z' style=''/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 200, 0)'%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 36.052 39.547 C 35.766 39.547 35.484 39.439 35.264 39.221 C 34.832 38.786 34.832 38.085 35.264 37.651 C 42.199 30.718 42.199 19.437 35.264 12.504 C 34.832 12.07 34.832 11.368 35.264 10.933 C 35.703 10.499 36.403 10.499 36.837 10.933 C 44.636 18.734 44.636 31.423 36.837 39.221 C 36.619 39.439 36.336 39.547 36.052 39.547 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 39.314 45.057 C 39.028 45.057 38.744 44.948 38.528 44.73 C 38.093 44.297 38.093 43.595 38.528 43.16 C 43.369 38.321 46.035 31.89 46.035 25.056 C 46.035 18.22 43.37 11.788 38.528 6.948 C 38.093 6.514 38.093 5.812 38.528 5.378 C 38.963 4.944 39.664 4.944 40.1 5.378 C 45.361 10.637 48.26 17.625 48.26 25.056 C 48.26 32.484 45.361 39.473 40.1 44.731 C 39.883 44.949 39.599 45.058 39.315 45.058 Z' style=''/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 250, 0)'%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3Cpath fill='%23759fc9' d='M 39.314 45.057 C 39.028 45.057 38.744 44.948 38.528 44.73 C 38.093 44.297 38.093 43.595 38.528 43.16 C 43.369 38.321 46.035 31.89 46.035 25.056 C 46.035 18.22 43.37 11.788 38.528 6.948 C 38.093 6.514 38.093 5.812 38.528 5.378 C 38.963 4.944 39.664 4.944 40.1 5.378 C 45.361 10.637 48.26 17.625 48.26 25.056 C 48.26 32.484 45.361 39.473 40.1 44.731 C 39.883 44.949 39.599 45.058 39.315 45.058 Z' style=''/%3E%3C/g%3E%3Cg transform='matrix(1, 0, 0, 1, 300, 0)'%3E%3Cpath fill='%23759fc9' d='M 11.585 16.976 L 3.728 16.976 C 2.629 16.976 1.741 17.864 1.741 18.963 L 1.741 31.039 C 1.741 32.134 2.629 33.024 3.728 33.024 L 11.585 33.024 C 11.939 33.024 12.287 33.119 12.592 33.299 L 25.18 45.02 C 26.504 45.798 28.174 44.845 28.174 43.308 L 28.174 6.692 C 28.174 5.157 26.504 4.201 25.18 4.98 L 12.593 16.7 C 12.287 16.879 11.94 16.975 11.585 16.975 Z' style=''/%3E%3C/g%3E%3C/svg%3E");
    &.active {
      animation: speaking 1s steps(6) infinite;
    }
  }
}

@keyframes speaking {
  from {
    background-position-x: 0;
  }
  70% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 100%;
  }
}
