@import url('../assets/font.css');

.__mark {
  display: inline;
  padding-inline: 0.1em;
  margin-inline: -0.1em;
}

.__word_known {
  color: inherit;
  background-color: unset;
}

.__word_unknown,
.__zen_mode .__word_unknown {
  pointer-events: auto;
  -webkit-text-fill-color: currentColor !important;
  &[have_context] {
    &::after {
      font-size: 50%;
      vertical-align: super;
      content: '(' attr(have_context) ')';
    }
  }
  &[have_context='1'] {
    &::after {
      display: none;
    }
  }
}

w-mark-t {
  position: relative;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 7em;
  padding-inline: 0.3em;
  text-indent: 0;
  opacity: 0.5;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  &:hover {
    opacity: 1;
    overflow: visible;
    color: transparent;
    &::after {
      position: absolute;
      top: 0;
      left: 0.3em;
      right: 0.3em;
      padding-right: 0.3em;
      z-index: 2;
      white-space: nowrap;
      width: max-content;
      border-radius: 0.3em;
      content: attr(data-trans);
      color: var(--wh-mark-text-color-1);
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s;
      background-color: var(--wh-mark-color-1);

      @starting-style {
        background-color: transparent;
      }
    }
  }
}

.pdfViewer .__word_unknown {
  color: transparent;
}

body:has(.__zen_mode) {
  overflow: hidden;
}

.__zen_mode {
  display: block;
  position: fixed;
  z-index: 1000000000;
  inset: 0;
  padding: 40px;
  background-color: antiquewhite;
  overflow: auto;

  font-family: BlinkMacSystemFont, sans-serif;

  pre {
    background-color: unset;
    border: none;
  }

  w-mark-parent {
    display: inline-flex;
    align-items: center;
  }

  .zen_close_btn {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    transition: opacity 0.5s;
    :hover {
      opacity: 0.8;
    }
  }

  .zen_buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    button {
      padding: 5px 10px;
      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  .zen_words {
    columns: 10rem;
    column-gap: 7rem;
    column-rule: 4px dotted turquoise;
    word-break: break-all;
  }

  w-mark {
    display: inline-block;
    break-inside: avoid;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 2px;
    margin: 5px 5px;
    &:nth-child(20n) {
      margin-bottom: 50px;
    }
  }

  .__excluded {
    opacity: 0.3;
  }

  p {
    width: max-content;
    margin: 0 auto 40px auto;
    padding: 10px;
    outline: 5px dashed rgba(0, 0, 0, 0.1);
    font-size: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  kbd,
  button {
    display: inline-flex;
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: unset;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
    &:hover {
      background-color: rgb(238, 238, 238);
    }
  }
}
