.__mark {
  display: inline;
  padding-inline: 0.1em;
  margin-inline: -0.1em;
  border-radius: 0.3em;
  // text-decoration: wavy underline #99f;
  // text-underline-offset: 2px;
}

.__word_known {
  color: inherit;
  background-color: unset;
}

.__word_unknown {
  background: rgba(70, 104, 227, 0.5);
}

.__word_half {
  background: rgba(235, 98, 24, 0.5);
}

.__word_card {
  visibility: hidden;
  position: fixed;
  z-index: 10000;
  max-width: 400px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: bisque;
  font-size: 12px;
  color: rgba(143, 170, 229, 0.5);
  box-shadow: rgb(0 0 0 / 80%) 0 4px 23px -6px;

  #__word_context {
    color: #666;
    div:nth-child(1) {
      max-height: 300px;
      overflow: hidden;
    }
    a {
      color: #3366bb;
      word-break: break-all;
    }
  }

  hr {
    margin: 6px 0;
  }

  .__buttons_container {
    display: flex;
    flex-direction: space-between;
    button {
      padding: 2px 10px;
      margin-right: 10px;
      width: max-content;
      border-radius: 4px;
      border: 1px solid #ccc;
      cursor: pointer;
      white-space: nowrap;
      color: #000;
      font-size: 12px;
      &[data-class='__word_known'] {
        background-color: rgba(133, 219, 146, 0.5);
        &:hover {
          background-color: rgba(133, 219, 146, 0.8);
        }
      }
      &[data-class='__word_half'] {
        background-color: rgba(235, 98, 24, 0.5);
        &:hover {
          background-color: rgba(235, 98, 24, 0.8);
        }
      }
    }
  }
}

body:has(.__zen_mode) {
  overflow: hidden;
  .__word_card {
    z-index: 2000000000;
  }
}

.__zen_mode {
  display: block;
  position: fixed;
  z-index: 1000000000;
  inset: 0;
  padding: 40px;
  background-color: antiquewhite;
  overflow: auto;
  font-size: 12px;
  line-height: 1.5;
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  columns: 10rem;
  column-gap: 7rem;
  column-rule: 4px dotted turquoise;
  word-break: break-all;
  w-mark {
    display: inline-block;
    break-inside: avoid;
    white-space: nowrap;
    padding: 0 2px;
    margin: 5px 5px;
    &:nth-child(20n) {
      margin-bottom: 50px;
    }
  }
}
